{{ template "layout.html" . }}

{{ define "css" }}
{{ end}}

{{ define "content" }}
	<div class="page-header">
		<h1>{{ .pageHeader }}</h1>
	</div>
	<div class="row">
		<div class="col-md-9">	
			<form class="form-horizontal" onsubmit="$('#idWaitingPanel').modal({backdrop: 'static'});" action="/gui/system/host/credential/edit" method="post">
				<input id="createOrUpdate" class="form-control" type="hidden" name="createOrUpdate" value="{{ .createOrUpdate }}">

				<div class="form-group">
					<label class="col-md-3 control-label" for="ip">IP:</label>
					<div class="col-md-9">
						<input id="ip" class="form-control" type="text" name="ip" value="{{ .ip }}" {{ .ipFieldReadOnly }} required>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-3 control-label" for="sshPort">SSH Port:</label>
					<div class="col-md-9">
						<input id="sshPort" class="form-control" type="number" name="sshPort" value="{{ .sshPort }}" min="1" max="65536" required>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-3 control-label" for="sshUser">SSH User:</label>
					<div class="col-md-9">
						<input id="sshUser" class="form-control" type="text" name="sshUser" value="{{ .sshUser }}" required>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-3 control-label" for="sshPassword">SSH Password:</label>
					<div class="col-md-9">
						<input id="sshPassword" class="form-control" type="password" name="sshPassword" value="" required>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-3 control-label" for="sshPasswordConfirm">SSH Password Confirm:</label>
					<div class="col-md-9">
						<input id="sshPasswordConfirm" class="form-control" type="password" name="sshPasswordConfirm" value="" required>
					</div>
				</div>

				<a class="btn btn-md btn-warning pull-right" onclick="$('#idWaitingPanel').modal({backdrop: 'static'});" href="/gui/system/host/credential/list">Cancel</a>
				<input class="btn btn-md btn-info pull-right" type="submit" value="{{.actionButtonValue}}">
			</form>
		</div>
	</div>
{{ end }}

{{ define "js" }}

	<script type="text/javascript">

	var moduleSystemHostCredentialEdit = (function(){

		function validatePassword(e){
			if($("#sshPassword").val() != $("#sshPasswordConfirm").val()) {
				document.getElementById("sshPasswordConfirm").setCustomValidity("Passwords Don't Match");
			} else {
				document.getElementById("sshPasswordConfirm").setCustomValidity("");
			}
		}

		$("#sshPassword").change(validatePassword);
		$("#sshPasswordConfirm").change(validatePassword);

	})();

	</script>

{{ end}}