<!DOCTYPE html>
<html>
<head>
	<title>CloudOne</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="stylesheet" href="/static/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/css/bootstrap-theme.min.css">
	<!-- Bootstrap Datetimepicker -->
	<link rel="stylesheet" href="/static/css/bootstrap-datetimepicker.min.css">
		
	<!-- Custom styles for this template -->
	<link href="/static/css/layout.css" rel="stylesheet">
	{{ template "css" . }}
</head>
<body>

	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/gui/dashboard/topology/">CloudOne 0.0.0.7</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li class=""><a href="/gui/dashboard/topology/">Dashboard</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Repository<span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="/gui/repository/imageinformation">Applications</a></li>
							<li><a href="/gui/repository/thirdparty/">Third-party Services</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Deploy<span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="/gui/deploy/deploy">Applications</a></li>
							<li><a href="/gui/deploy/deploybluegreen">Blue Green Deployments</a></li>
							<li><a href="/gui/deploy/autoscaler">Autoscalers</a></li>
							<li><a href="/gui/deploy/deployclusterapplication">Third-party Services</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Inventory<span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="/gui/inventory/replicationcontroller">Replications</a></li>
							<li><a href="/gui/inventory/service">Services</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Storage<span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="/gui/storage/glusterfs/volume">Glusterfs Volume</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Monitor<span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="/gui/monitor/node">Nodes</a></li>
							<li><a href="/gui/monitor/container">Containers</a></li>
							<li><a href="/gui/monitor/historicalcontainer">Historical Containers</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Event<span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="/gui/event/kubernetes">Kubernetes Event</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Notification<span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="/gui/notification/notifier">Notifiers</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">System<span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="/gui/system/namespace">Namepaces</a></li>
						</ul>
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/gui/logout">Logout</a></li>
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</nav>

	<div class="container">
		<div class="theme-showcase">
			<div {{ .messageDisplay }} id="messageDisplay">
				{{range $key, $guiMessageSuccess := .guiMessageSuccessSlice}}
					<p class="bg-success">{{ $guiMessageSuccess }}</p>
				{{end}}
				{{range $key, $guiMessageInfo := .guiMessageInfoSlice}}
					<p class="bg-info">{{ $guiMessageInfo }}</p>
				{{end}}
				{{range $key, $guiMessageWarning := .guiMessageWarningSlice}}
					<p class="bg-warning">{{ $guiMessageWarning }}</p>
				{{end}}
				{{range $key, $guiMessageDanger := .guiMessageDangerSlice}}
					<p class="bg-danger">{{ $guiMessageDanger }}</p>
				{{end}}
			</div>
			{{ template "content" . }}
		</div>
	</div><!-- /.container -->

	<!-- Waiting Panel-->
	<!-- Modal -->
	<div class="modal fade" id="idWaitingPanel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Executing</h4>
				</div>
				<div class="modal-body">
					Please wait...
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript" src="/static/js/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/static/js/d3.min.js"></script>
	<!-- Bootstrap Datetimepicker -->
	<!-- Duplicated
	<script type="text/javascript" src="/static/js/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
	-->
	<script type="text/javascript" src="/static/js/moment.min.js"></script>
	<script type="text/javascript" src="/static/js/bootstrap-datetimepicker.min.js"></script>
	
	<script type="text/javascript">
		
	</script>
	{{ template "js" . }}
</body>
</html>