{{ template "layout.html" . }}

{{ define "css" }}
	<link rel="stylesheet" href="/static/css/jquery.treegrid.css">
{{ end}}

{{ define "content" }}
	<div class="page-header">
		<h1>Image Record List</h1>
	</div>
	<div class="row">
		<div class="col-md-12">

			<div class="pull-right">
				<div class="btn-group">
					{{ str2html .hiddenTagGuiRepositoryImageInformationList }}
						<a class="btn btn-md btn-warning pull-right" href="/gui/repository/imageinformation/list" onclick="$('#idWaitingPanel').modal({backdrop: 'static'});" >Cancel</a>
					</div>
				</div>
			</div>

			<table class="table table-condensed tree">
			<thead>
				<tr>
					<th>#</th>
					<th>Name</th>
					<th>Version</th>
					<th>Path</th>
					<th>VersionInfo</th>
					<th>Environment</th>
					<th>Description</th>
					<th>CreatedTime</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				{{range $imageRecordKey, $imageRecord := .imageRecordSlice}}
					<tr>
						<td>{{$imageRecordKey}}</td>
						<td>{{$imageRecord.ImageInformation}}</td>
						<td>{{$imageRecord.Version}}</td>
						<td>{{$imageRecord.Path}}</td>
						<td>
							{{range $versionKey, $versionValue := $imageRecord.VersionInfo}}
								{{ $versionKey }}: {{ $versionValue }}<br/>
							{{end}}
						</td>
						<td>
							{{range $environmentKey, $environmentValue := $imageRecord.Environment}}
								{{ $environmentKey }}: {{ $environmentValue }}<br/>
							{{end}}
						</td>
						<td>{{$imageRecord.Description}}</td>
						<td>{{$imageRecord.CreatedTime}}</td>
						<td>
							<div class="btn-group">
								{{ str2html $imageRecord.HiddenTagGuiRepositoryImageRecordDelete }}
									<button class="btn btn-xs btn-danger" type="button" data-toggle="modal" data-target="#linkModal" data-action="Delete {{$imageRecord.ImageInformation}} {{$imageRecord.Version}}" data-color="btn-danger" data-herf="/gui/repository/imagerecord/delete?name={{$imageRecord.ImageInformation}}&version={{$imageRecord.Version}}">Delete</button>
								</div>
							</div>
						</td>
					</thead>
					</tr>
				{{end}}
			</tbody>
			</table>
		</div>
	</div>
{{ end }}

{{ define "js" }}
	<script type="text/javascript" src="/static/js/jquery.treegrid.min.js"></script>
	<script type="text/javascript">
		$('.tree').treegrid({'initialState': 'collapsed'});
	</script>
{{ end}}