	<!-- Waiting Panel-->
	<!-- Modal -->
	<div class="modal fade" id="idWaitingPanel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Executing</h4>
				</div>
				<div class="modal-body">
					Please wait...
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript">
	var moduleWaittingPanel = (function(){
		window.onpageshow  = function() {
			// This is used for Firefox back button since there is no load event
			// Other browsers don't need it and won't be affected since the onload will hide the panel
			$("#idWaitingPanel").modal("hide");
		}
	})();
	</script>