{{ template "layout.html" . }}

{{ define "css" }}
{{ end}}

{{ define "content" }}
	<div class="page-header">
		<h1>{{ .pageHeader }}</h1>
	</div>
	<div class="row">
		<div class="col-md-9">	
			<form class="form-horizontal" onsubmit="$('#idWaitingPanel').modal({backdrop: 'static'});" action="/gui/system/rbac/role/edit?action={{ .action }}" method="post">
				<input id="action" class="form-control" type="hidden" name="action" value="{{ .action }}">

				<div class="form-group">
					<label class="col-md-3 control-label" for="name">Name:</label>
					<div class="col-md-9">
						<input id="name" class="form-control" type="text" name="name" value="{{ .name }}" required {{ .readonly }}>
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-md-3 control-label" for="description">Description:</label>
					<div class="col-md-9">
						<input id="description" class="form-control" type="text" name="description" value="{{ .description }}">
					</div>
				</div>

				<div class="form-group">
					<label class="col-md-3 control-label" >Permissions:</label>
				</div>

				<hr>
				
				<div class="form-group">
					<label class="col-md-3 control-label" for="dashboard">Dashboard:</label>
					<div class="col-md-offset-1 col-md-6 checkbox">
						<input id="dashboard" type="checkbox" name="dashboard" onclick="$('#regionDashboard').toggle();" {{ .checkedTagDashboard }}>
					</div>
				</div>
				<div id="regionDashboard" {{ .hiddenTagDashboard }}>
					<div class="form-group">
						<label class="col-md-4 control-label" for="dashboardTopology">Topology:</label>
						<div class="col-md-offset-1 col-md-5 checkbox">
							<input id="dashboardTopology" type="checkbox" name="dashboardTopology" {{ .checkedTagDashboardTopology }}>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-4 control-label" for="dashboardHealthCheck">Health Check:</label>
						<div class="col-md-offset-1 col-md-5 checkbox">
							<input id="dashboardHealthCheck" type="checkbox" name="dashboardHealthCheck" {{ .checkedTagDashboardHealthCheck }}>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-4 control-label" for="dashboardBlueGreen">Blue Green:</label>
						<div class="col-md-offset-1 col-md-5 checkbox">
							<input id="dashboardBlueGreen" type="checkbox" name="dashboardBlueGreen" {{ .checkedTagDashboardBlueGreen }}>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-4 control-label" for="dashboardAppService">App Service:</label>
						<div class="col-md-offset-1 col-md-5 checkbox">
							<input id="dashboardAppService" type="checkbox" name="dashboardAppService" {{ .checkedTagDashboardAppService }}>
						</div>
					</div>
				</div>

				<hr>

				<div class="form-group">
					<label class="col-md-3 control-label" for="repository">Repository:</label>
					<div class="col-md-offset-1 col-md-6 checkbox">
						<input id="repository" type="checkbox" name="repository" onclick="$('#regionRepository').toggle();" {{ .checkedTagRepository }}>
					</div>
				</div>
				<div id="regionRepository" {{ .hiddenTagRepository }}>
					<div class="form-group">
						<label class="col-md-4 control-label" for="repositoryImageInformation">Applications:</label>
						<div class="col-md-offset-1 col-md-5 checkbox">
							<input id="repositoryImageInformation" type="checkbox" name="repositoryImageInformation" onclick="$('#regionRepositoryImageInformation').toggle();" {{ .checkedTagRepositoryImageInformation }}>
						</div>
					</div>
					<div id="regionRepositoryImageInformation" {{ .hiddenTagRepositoryImageInformation }}>
						<div class="form-group">
							<label class="col-md-5 control-label" for="repositoryImageInformationList">View:</label>
							<div class="col-md-offset-1 col-md-4 checkbox">
								<input id="repositoryImageInformationList" type="checkbox" name="repositoryImageInformationList" {{ .checkedTagRepositoryImageInformationList }}>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-5 control-label" for="repositoryImageInformationCreate">Create:</label>
							<div class="col-md-offset-1 col-md-4 checkbox">
								<input id="repositoryImageInformationCreate" type="checkbox" name="repositoryImageInformationCreate" {{ .checkedTagRepositoryImageInformationCreate }}>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-5 control-label" for="repositoryImageInformationUpgrade">Upgrade:</label>
							<div class="col-md-offset-1 col-md-4 checkbox">
								<input id="repositoryImageInformationUpgrade" type="checkbox" name="repositoryImageInformationUpgrade" {{ .checkedTagRepositoryImageInformationUpgrade }}>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-5 control-label" for="repositoryImageInformationDelete">Delete:</label>
							<div class="col-md-offset-1 col-md-4 checkbox">
								<input id="repositoryImageInformationDelete" type="checkbox" name="repositoryImageInformationDelete" {{ .checkedTagRepositoryImageInformationDelete }}>
							</div>
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-md-4 control-label" for="repositoryImageRecord">Record:</label>
						<div class="col-md-offset-1 col-md-5 checkbox">
							<input id="repositoryImageRecord" type="checkbox" name="repositoryImageRecord" onclick="$('#regionRepositoryImageRecord').toggle();" {{ .checkedTagRepositoryImageRecord }}>
						</div>
					</div>
					<div id="regionRepositoryImageRecord" {{ .hiddenTagRepositoryImageRecord }}>
						<div class="form-group">
							<label class="col-md-5 control-label" for="repositoryImageRecordList">View:</label>
							<div class="col-md-offset-1 col-md-4 checkbox">
								<input id="repositoryImageRecordList" type="checkbox" name="repositoryImageRecordList" {{ .checkedTagRepositoryImageRecordList }}>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-5 control-label" for="repositoryImageRecordDelete">Delete:</label>
							<div class="col-md-offset-1 col-md-4 checkbox">
								<input id="repositoryImageRecordDelete" type="checkbox" name="repositoryImageRecordDelete" {{ .checkedTagRepositoryImageRecordDelete }}>
							</div>
						</div>
					</div>
				
					<div class="form-group">
						<label class="col-md-4 control-label" for="repositoryThirdPartyService">Third-party Service:</label>
						<div class="col-md-offset-1 col-md-5 checkbox">
							<input id="repositoryThirdPartyService" type="checkbox" name="repositoryThirdPartyService" onclick="$('#regionRepositoryThirdPartyService').toggle();" {{ .checkedTagRepositoryThirdPartyService }}>
						</div>
					</div>
					<div id="regionRepositoryThirdPartyService" {{ .hiddenTagRepositoryThirdPartyService }}>
						<div class="form-group">
							<label class="col-md-5 control-label" for="repositoryThirdPartyServiceList">View:</label>
							<div class="col-md-offset-1 col-md-4 checkbox">
								<input id="repositoryThirdPartyServiceList" type="checkbox" name="repositoryThirdPartyServiceList" {{ .checkedTagRepositoryThirdPartyServiceList }}>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-5 control-label" for="repositoryThirdPartyServiceCreate">Create/Update:</label>
							<div class="col-md-offset-1 col-md-4 checkbox">
								<input id="repositoryThirdPartyServiceCreate" type="checkbox" name="repositoryThirdPartyServiceCreate" {{ .checkedTagRepositoryThirdPartyServiceCreate }}>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-5 control-label" for="repositoryThirdPartyServiceLaunch">Launch:</label>
							<div class="col-md-offset-1 col-md-4 checkbox">
								<input id="repositoryThirdPartyServiceLaunch" type="checkbox" name="repositoryThirdPartyServiceLaunch" {{ .checkedTagRepositoryThirdPartyServiceLaunch }}>
							</div>
						</div>
						<!--
						<div class="form-group">
							<label class="col-md-5 control-label" for="repositoryThirdPartyServiceUpdate">Update:</label>
							<div class="col-md-offset-1 col-md-4 checkbox">
								<input id="repositoryThirdPartyServiceUpdate" type="checkbox" name="repositoryThirdPartyServiceUpdate" >
							</div>
						</div>
						-->
						<div class="form-group">
							<label class="col-md-5 control-label" for="repositoryThirdPartyServiceDelete">Delete:</label>
							<div class="col-md-offset-1 col-md-4 checkbox">
								<input id="repositoryThirdPartyServiceDelete" type="checkbox" name="repositoryThirdPartyServiceDelete" {{ .checkedTagRepositoryThirdPartyServiceDelete }}>
							</div>
						</div>
					</div>
				</div>

				<hr>

				<div class="form-group">
					<label class="col-md-3 control-label" for="deploy">Deploy:</label>
					<div class="col-md-offset-1 col-md-6 checkbox">
						<input id="deploy" type="checkbox" name="deploy" onclick="$('#regionDeploy').toggle();" {{ .checkedTagDeploy }}>
					</div>
				</div>
				<div id="regionDeploy" {{ .hiddenTagDeploy }}>
					<div class="form-group">
						<label class="col-md-4 control-label" for="deployDeploy">Applications:</label>
						<div class="col-md-offset-1 col-md-5 checkbox">
							<input id="deployDeploy" type="checkbox" name="deployDeploy" onclick="$('#regionDeployDeploy').toggle();" {{ .checkedTagDeployDeploy }}>
						</div>
					</div>
					<div id="regionDeployDeploy" {{ .hiddenTagDeployDeploy }}>
						<div class="form-group">
							<label class="col-md-5 control-label" for="deployDeployList">View:</label>
							<div class="col-md-offset-1 col-md-4 checkbox">
								<input id="deployDeployList" type="checkbox" name="deployDeployList" {{ .checkedTagDeployDeployList }}>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-5 control-label" for="deployDeployCreate">Create:</label>
							<div class="col-md-offset-1 col-md-4 checkbox">
								<input id="deployDeployCreate" type="checkbox" name="deployDeployCreate" {{ .checkedTagDeployDeployCreate }}>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-5 control-label" for="deployDeployUpdate">Update/RollBack:</label>
							<div class="col-md-offset-1 col-md-4 checkbox">
								<input id="deployDeployUpdate" type="checkbox" name="deployDeployUpdate" {{ .checkedTagDeployDeployUpdate }}>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-5 control-label" for="deployDeployDelete">Delete:</label>
							<div class="col-md-offset-1 col-md-4 checkbox">
								<input id="deployDeployDelete" type="checkbox" name="deployDeployDelete" {{ .checkedTagDeployDeployDelete }}>
							</div>
						</div>
					</div>

					<div class="form-group">
						<label class="col-md-4 control-label" for="deployDeployBlueGreen">Blue Green Deployments:</label>
						<div class="col-md-offset-1 col-md-5 checkbox">
							<input id="deployDeployBlueGreen" type="checkbox" name="deployDeployBlueGreen" onclick="$('#regionDeployDeployBlueGreen').toggle();" {{ .checkedTagDeployDeployBlueGreen }}>
						</div>
					</div>
					<div id="regionDeployDeployBlueGreen" {{ .hiddenTagDeployDeployBlueGreen }}>
						<div class="form-group">
							<label class="col-md-5 control-label" for="deployDeployBlueGreenList">View:</label>
							<div class="col-md-offset-1 col-md-4 checkbox">
								<input id="deployDeployBlueGreenList" type="checkbox" name="deployDeployBlueGreenList" {{ .checkedTagDeployDeployBlueGreenList }}>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-5 control-label" for="deployDeployBlueGreenSelect">Select:</label>
							<div class="col-md-offset-1 col-md-4 checkbox">
								<input id="deployDeployBlueGreenSelect" type="checkbox" name="deployDeployBlueGreenSelect" {{ .checkedTagDeployDeployBlueGreenSelect }}>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-5 control-label" for="deployDeployBlueGreenDelete">Delete:</label>
							<div class="col-md-offset-1 col-md-4 checkbox">
								<input id="deployDeployBlueGreenDelete" type="checkbox" name="deployDeployBlueGreenDelete" {{ .checkedTagDeployDeployBlueGreenDelete }}>
							</div>
						</div>
					</div>

					<div class="form-group">
						<label class="col-md-4 control-label" for="deployAutoScaler">AutoScalers:</label>
						<div class="col-md-offset-1 col-md-5 checkbox">
							<input id="deployAutoScaler" type="checkbox" name="deployAutoScaler" onclick="$('#regionDeployAutoScaler').toggle();" {{ .checkedTagDeployAutoScaler }}>
						</div>
					</div>
					<div id="regionDeployAutoScaler" {{ .hiddenTagDeployDeployAutoScaler }}>
						<div class="form-group">
							<label class="col-md-5 control-label" for="deployAutoScalerList">View:</label>
							<div class="col-md-offset-1 col-md-4 checkbox">
								<input id="deployAutoScalerList" type="checkbox" name="deployAutoScalerList" {{ .checkedTagDeployAutoScalerList }}>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-5 control-label" for="deployAutoScalerCreate">Create/Update:</label>
							<div class="col-md-offset-1 col-md-4 checkbox">
								<input id="deployAutoScalerCreate" type="checkbox" name="deployAutoScalerCreate" {{ .checkedTagDeployAutoScalerCreate }}>
							</div>
						</div>
						<!--
						<div class="form-group">
							<label class="col-md-5 control-label" for="deployAutoScalerUpdate">Update:</label>
							<div class="col-md-offset-1 col-md-4 checkbox">
								<input id="deployAutoScalerUpdate" type="checkbox" name="deployAutoScalerUpdate" >
							</div>
						</div>
						-->
						<div class="form-group">
							<label class="col-md-5 control-label" for="deployAutoScalerDelete">Delete:</label>
							<div class="col-md-offset-1 col-md-4 checkbox">
								<input id="deployAutoScalerDelete" type="checkbox" name="deployAutoScalerDelete" {{ .checkedTagDeployAutoScalerDelete }}>
							</div>
						</div>
					</div>

					<div class="form-group">
						<label class="col-md-4 control-label" for="deployDeployClusterApplication">Third-Party Services:</label>
						<div class="col-md-offset-1 col-md-5 checkbox">
							<input id="deployDeployClusterApplication" type="checkbox" name="deployDeployClusterApplication" onclick="$('#regionDeployDeployClusterApplication').toggle();" {{ .checkedTagDeployDeployClusterApplication }}>
						</div>
					</div>
					<div id="regionDeployDeployClusterApplication" {{ .hiddenTagDeployDeployClusterApplication }}>
						<div class="form-group">
							<label class="col-md-5 control-label" for="deployDeployClusterApplicationList">View:</label>
							<div class="col-md-offset-1 col-md-4 checkbox">
								<input id="deployDeployClusterApplicationList" type="checkbox" name="deployDeployClusterApplicationList" {{ .checkedTagDeployDeployClusterApplicationList }}>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-5 control-label" for="deployDeployClusterApplicationSize">Resize:</label>
							<div class="col-md-offset-1 col-md-4 checkbox">
								<input id="deployDeployClusterApplicationSize" type="checkbox" name="deployDeployClusterApplicationSize" {{ .checkedTagDeployDeployClusterApplicationSize }}>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-5 control-label" for="deployDeployClusterApplicationDelete">Delete:</label>
							<div class="col-md-offset-1 col-md-4 checkbox">
								<input id="deployDeployClusterApplicationDelete" type="checkbox" name="deployDeployClusterApplicationDelete" {{ .checkedTagDeployDeployClusterApplicationDelete }}>
							</div>
						</div>
					</div>
				</div>

				<hr>

				<div class="form-group">
					<label class="col-md-3 control-label" for="inventory">Inventory:</label>
					<div class="col-md-offset-1 col-md-6 checkbox">
						<input id="inventory" type="checkbox" name="inventory" onclick="$('#regionInventory').toggle();" {{ .checkedTagInventory }}>
					</div>
				</div>
				<div id="regionInventory" {{ .hiddenTagInventory }}>
					<div class="form-group">
						<label class="col-md-4 control-label" for="inventoryReplicationController">Replication Controllers:</label>
						<div class="col-md-offset-1 col-md-5 checkbox">
							<input id="inventoryReplicationController" type="checkbox" name="inventoryReplicationController" onclick="$('#regionInventoryReplicationController').toggle();" {{ .checkedTagInventoryReplicationController }}>
						</div>
					</div>
					<div id="regionInventoryReplicationController" {{ .hiddenTagInventoryReplicationController }}>
						<div class="form-group">
							<label class="col-md-5 control-label" for="inventoryReplicationControllerList">View:</label>
							<div class="col-md-offset-1 col-md-4 checkbox">
								<input id="inventoryReplicationControllerList" type="checkbox" name="inventoryReplicationControllerList" {{ .checkedTagInventoryReplicationControllerList }}>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-5 control-label" for="inventoryReplicationControllerCreate">Create:</label>
							<div class="col-md-offset-1 col-md-4 checkbox">
								<input id="inventoryReplicationControllerCreate" type="checkbox" name="inventoryReplicationControllerCreate" {{ .checkedTagInventoryReplicationControllerCreate }}>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-5 control-label" for="inventoryReplicationControllerSize">Resize:</label>
							<div class="col-md-offset-1 col-md-4 checkbox">
								<input id="inventoryReplicationControllerSize" type="checkbox" name="inventoryReplicationControllerSize" {{ .checkedTagInventoryReplicationControllerSize }}>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-5 control-label" for="inventoryReplicationControllerDelete">Delete:</label>
							<div class="col-md-offset-1 col-md-4 checkbox">
								<input id="inventoryReplicationControllerDelete" type="checkbox" name="inventoryReplicationControllerDelete" {{ .checkedTagInventoryReplicationControllerDelete }}>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-5 control-label" for="inventoryReplicationControllerPodLog">Pod Log:</label>
							<div class="col-md-offset-1 col-md-4 checkbox">
								<input id="inventoryReplicationControllerPodLog" type="checkbox" name="inventoryReplicationControllerPodLog" {{ .checkedTagInventoryReplicationControllerPodLog }}>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-5 control-label" for="inventoryReplicationControllerPodDelete">Pod Delete:</label>
							<div class="col-md-offset-1 col-md-4 checkbox">
								<input id="inventoryReplicationControllerPodDelete" type="checkbox" name="inventoryReplicationControllerPodDelete" {{ .checkedTagInventoryReplicationControllerPodDelete }}>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-5 control-label" for="inventoryReplicationControllerDockerTerminal">Terminal:</label>
							<div class="col-md-offset-1 col-md-4 checkbox">
								<input id="inventoryReplicationControllerDockerTerminal" type="checkbox" name="inventoryReplicationControllerDockerTerminal" {{ .checkedTagInventoryReplicationControllerDockerTerminal }}>
							</div>
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-md-4 control-label" for="inventoryService">Services:</label>
						<div class="col-md-offset-1 col-md-5 checkbox">
							<input id="inventoryService" type="checkbox" name="inventoryService" onclick="$('#regionInventoryService').toggle();" {{ .checkedTagInventoryService }}>
						</div>
					</div>
					<div id="regionInventoryService" {{ .hiddenTagInventoryService }}>
						<div class="form-group">
							<label class="col-md-5 control-label" for="inventoryServiceList">View:</label>
							<div class="col-md-offset-1 col-md-4 checkbox">
								<input id="inventoryServiceList" type="checkbox" name="inventoryServiceList" {{ .checkedTagInventoryServiceList }}>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-5 control-label" for="inventoryServiceCreate">Create:</label>
							<div class="col-md-offset-1 col-md-4 checkbox">
								<input id="inventoryServiceCreate" type="checkbox" name="inventoryServiceCreate" {{ .checkedTagInventoryServiceCreate }}>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-5 control-label" for="inventoryServiceDelete">Delete:</label>
							<div class="col-md-offset-1 col-md-4 checkbox">
								<input id="inventoryServiceDelete" type="checkbox" name="inventoryServiceDelete" {{ .checkedTagInventoryServiceDelete }}>
							</div>
						</div>
					</div>
				</div>

				<hr>

				<div class="form-group">
					<label class="col-md-3 control-label" for="filesystem">Filesystem:</label>
					<div class="col-md-offset-1 col-md-6 checkbox">
						<input id="filesystem" type="checkbox" name="filesystem" onclick="$('#regionFilesystem').toggle();" {{ .checkedTagFilesystem }}>
					</div>
				</div>
				<div id="regionFilesystem" {{ .hiddenTagFilesystem }}>
					<div class="form-group">
						<label class="col-md-4 control-label" for="filesystemGlusterfs">Glusterfs:</label>
						<div class="col-md-offset-1 col-md-5 checkbox">
							<input id="filesystemGlusterfs" type="checkbox" name="filesystemGlusterfs" onclick="$('#regionFilesystemGlusterfs').toggle();" {{ .checkedTagFilesystemGlusterfs }}>
						</div>
					</div>
					<div id="regionFilesystemGlusterfs" {{ .hiddenTagFilesystemGlusterfs }}>
						<div class="form-group">
							<label class="col-md-5 control-label" for="filesystemGlusterfsCluster">Cluster:</label>
							<div class="col-md-offset-1 col-md-4 checkbox">
								<input id="filesystemGlusterfsCluster" type="checkbox" name="filesystemGlusterfsCluster" onclick="$('#regionFilesystemGlusterfsCluster').toggle();" {{ .checkedTagFilesystemGlusterfsCluster }}>
							</div>
						</div>
						<div id="regionFilesystemGlusterfsCluster" {{ .hiddenTagFilesystemGlusterfsCluster }}>
							<div class="form-group">
								<label class="col-md-6 control-label" for="filesystemGlusterfsClusterList">View:</label>
								<div class="col-md-offset-1 col-md-3 checkbox">
									<input id="filesystemGlusterfsClusterList" type="checkbox" name="filesystemGlusterfsClusterList" {{ .checkedTagFilesystemGlusterfsClusterList }}>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-6 control-label" for="filesystemGlusterfsClusterCreate">Create/Update:</label>
								<div class="col-md-offset-1 col-md-3 checkbox">
									<input id="filesystemGlusterfsClusterCreate" type="checkbox" name="filesystemGlusterfsClusterCreate" {{ .checkedTagFilesystemGlusterfsClusterCreate }}>
								</div>
							</div>
							<!--
							<div class="form-group">
								<label class="col-md-6 control-label" for="filesystemGlusterfsClusterUpdate">Update:</label>
								<div class="col-md-offset-1 col-md-3 checkbox">
									<input id="filesystemGlusterfsClusterUpdate" type="checkbox" name="filesystemGlusterfsClusterUpdate" >
								</div>
							</div>
							-->
							<div class="form-group">
								<label class="col-md-6 control-label" for="filesystemGlusterfsClusterDelete">Delete:</label>
								<div class="col-md-offset-1 col-md-3 checkbox">
									<input id="filesystemGlusterfsClusterDelete" type="checkbox" name="filesystemGlusterfsClusterDelete"{{ .checkedTagFilesystemGlusterfsClusterDelete }} >
								</div>
							</div>
						</div>
						
						<div class="form-group">
							<label class="col-md-4 control-label" for="filesystemGlusterfsVolume">Volumes:</label>
							<div class="col-md-offset-1 col-md-5 checkbox">
								<input id="filesystemGlusterfsVolume" type="checkbox" name="filesystemGlusterfsVolume" onclick="$('#regionFilesystemGlusterfsVolume').toggle();" {{ .checkedTagFilesystemGlusterfsVolume }}>
							</div>
						</div>
						<div id="regionFilesystemGlusterfsVolume" {{ .hiddenTagFilesystemGlusterfsVolume }}>
							<div class="form-group">
								<label class="col-md-5 control-label" for="filesystemGlusterfsVolumeList">View:</label>
								<div class="col-md-offset-1 col-md-4 checkbox">
									<input id="filesystemGlusterfsVolumeList" type="checkbox" name="filesystemGlusterfsVolumeList" {{ .checkedTagFilesystemGlusterfsVolumeList }}>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-5 control-label" for="filesystemGlusterfsVolumeCreate">Create:</label>
								<div class="col-md-offset-1 col-md-4 checkbox">
									<input id="filesystemGlusterfsVolumeCreate" type="checkbox" name="filesystemGlusterfsVolumeCreate" {{ .checkedTagFilesystemGlusterfsVolumeCreate }}>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-5 control-label" for="filesystemGlusterfsVolumeDelete">Delete:</label>
								<div class="col-md-offset-1 col-md-4 checkbox">
									<input id="filesystemGlusterfsVolumeDelete" type="checkbox" name="filesystemGlusterfsVolumeDelete" {{ .checkedTagFilesystemGlusterfsVolumeDelete }}>
								</div>
							</div>
						</div>
					</div>
				</div>

				<hr>
				
				<div class="form-group">
					<label class="col-md-3 control-label" for="monitor">Monitor:</label>
					<div class="col-md-offset-1 col-md-6 checkbox">
						<input id="monitor" type="checkbox" name="monitor" onclick="$('#regionMonitor').toggle();" {{ .checkedTagMonitor }}>
					</div>
				</div>
				<div id="regionMonitor" {{ .hiddenTagMonitor }}>
					<div class="form-group">
						<label class="col-md-4 control-label" for="monitorNode">Nodes:</label>
						<div class="col-md-offset-1 col-md-5 checkbox">
							<input id="monitorNode" type="checkbox" name="monitorNode" {{ .checkedTagMonitorNode }}>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-4 control-label" for="monitorContainer">Containers:</label>
						<div class="col-md-offset-1 col-md-5 checkbox">
							<input id="monitorContainer" type="checkbox" name="monitorContainer" {{ .checkedTagMonitorContainer }}>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-4 control-label" for="monitorHistoricalContainer">Historical Containers:</label>
						<div class="col-md-offset-1 col-md-5 checkbox">
							<input id="monitorHistoricalContainer" type="checkbox" name="monitorHistoricalContainer" {{ .checkedTagMonitorHistoricalContainer }}>
						</div>
					</div>
				</div>

				<hr>

				<div class="form-group">
					<label class="col-md-3 control-label" for="event">Event:</label>
					<div class="col-md-offset-1 col-md-6 checkbox">
						<input id="event" type="checkbox" name="event" onclick="$('#regionEvent').toggle();" {{ .checkedTagEvent }}>
					</div>
				</div>
				<div id="regionEvent" {{ .hiddenTagEvent }}>
					<div class="form-group">
						<label class="col-md-4 control-label" for="eventAudit">Audit Logs:</label>
						<div class="col-md-offset-1 col-md-5 checkbox">
							<input id="eventAudit" type="checkbox" name="eventAudit" onclick="$('#regionEventAudit').toggle();" {{ .checkedTagEventAudit }}>
						</div>
					</div>
					<div id="regionEventAudit" {{ .hiddenTagEventAudit }}>
						<div class="form-group">
							<label class="col-md-5 control-label" for="eventAuditList">View:</label>
							<div class="col-md-offset-1 col-md-4 checkbox">
								<input id="eventAuditList" type="checkbox" name="eventAuditList"{{ .checkedTagEventAuditList }}>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-4 control-label" for="eventKubernetes">Kubernetes:</label>
						<div class="col-md-offset-1 col-md-5 checkbox">
							<input id="eventKubernetes" type="checkbox" name="eventKubernetes" onclick="$('#regionEventKubernetes').toggle();" {{ .checkedTagEventKubernetes }}>
						</div>
					</div>
					<div id="regionEventKubernetes" {{ .hiddenTagEventKubernetes }}>
						<div class="form-group">
							<label class="col-md-5 control-label" for="eventKubernetesList">View:</label>
							<div class="col-md-offset-1 col-md-4 checkbox">
								<input id="eventKubernetesList" type="checkbox" name="eventKubernetesList"{{ .checkedTagEventKubernetesList }}>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-5 control-label" for="eventKubernetesAcknowledge">Acknowledge:</label>
							<div class="col-md-offset-1 col-md-4 checkbox">
								<input id="eventKubernetesAcknowledge" type="checkbox" name="eventKubernetesAcknowledge" {{ .checkedTagEventKubernetesAcknowledge }}>
							</div>
						</div>
					</div>
				</div>

				<hr>

				<div class="form-group">
					<label class="col-md-3 control-label" for="notification">Notification:</label>
					<div class="col-md-offset-1 col-md-6 checkbox">
						<input id="notification" type="checkbox" name="notification" onclick="$('#regionNotification').toggle();" {{ .checkedTagNotification }}>
					</div>
				</div>
				<div id="regionNotification" {{ .hiddenTagNotification }}>
					<div class="form-group">
						<label class="col-md-4 control-label" for="notificationNotifier">Notifiers:</label>
						<div class="col-md-offset-1 col-md-5 checkbox">
							<input id="notificationNotifier" type="checkbox" name="notificationNotifier" onclick="$('#regionNotificationNotifier').toggle();" {{ .checkedTagNotificationNotifier }}>
						</div>
					</div>
					<div id="regionNotificationNotifier" {{ .hiddenTagNotificationNotifier }}>
						<div class="form-group">
							<label class="col-md-5 control-label" for="notificationNotifierList">View:</label>
							<div class="col-md-offset-1 col-md-4 checkbox">
								<input id="notificationNotifierList" type="checkbox" name="notificationNotifierList" {{ .checkedTagNotificationNotifierList }}>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-5 control-label" for="notificationNotifierCreate">Create/Update:</label>
							<div class="col-md-offset-1 col-md-4 checkbox">
								<input id="notificationNotifierCreate" type="checkbox" name="notificationNotifierCreate" {{ .checkedTagNotificationNotifierCreate }}>
							</div>
						</div>
						<!--
						<div class="form-group">
							<label class="col-md-5 control-label" for="notificationNotifierUpdate">Update:</label>
							<div class="col-md-offset-1 col-md-4 checkbox">
								<input id="notificationNotifierUpdate" type="checkbox" name="notificationNotifierUpdate" >
							</div>
						</div>
						-->
						<div class="form-group">
							<label class="col-md-5 control-label" for="notificationNotifierDelete">Delete:</label>
							<div class="col-md-offset-1 col-md-4 checkbox">
								<input id="notificationNotifierDelete" type="checkbox" name="notificationNotifierDelete" {{ .checkedTagNotificationNotifierDelete }}>
							</div>
						</div>
					</div>
				</div>

				<hr>

				<div class="form-group">
					<label class="col-md-3 control-label" for="system">System:</label>
					<div class="col-md-offset-1 col-md-6 checkbox">
						<input id="system" type="checkbox" name="system" onclick="$('#regionSystem').toggle();" {{ .checkedTagSystem }}>
					</div>
				</div>
				<div id="regionSystem" {{ .hiddenTagSystem }}>
					<div class="form-group">
						<label class="col-md-4 control-label" for="systemNamespace">Namespaces:</label>
						<div class="col-md-offset-1 col-md-5 checkbox">
							<input id="systemNamespace" type="checkbox" name="systemNamespace" onclick="$('#regionSystemNamespace').toggle();" {{ .checkedTagSystemNamespace }}>
						</div>
					</div>
					<div id="regionSystemNamespace" {{ .hiddenTagSystemNamespace }}>
						<div class="form-group">
							<label class="col-md-5 control-label" for="systemNamespaceList">View:</label>
							<div class="col-md-offset-1 col-md-4 checkbox">
								<input id="systemNamespaceList" type="checkbox" name="systemNamespaceList" {{ .checkedTagSystemNamespaceList }}>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-5 control-label" for="systemNamespaceCreate">Create:</label>
							<div class="col-md-offset-1 col-md-4 checkbox">
								<input id="systemNamespaceCreate" type="checkbox" name="systemNamespaceCreate" {{ .checkedTagSystemNamespaceCreate }}>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-5 control-label" for="systemNamespaceSelect">Select:</label>
							<div class="col-md-offset-1 col-md-4 checkbox">
								<input id="systemNamespaceSelect" type="checkbox" name="systemNamespaceSelect" {{ .checkedTagSystemNamespaceSelect }}>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-5 control-label" for="systemNamespaceDelete">Delete:</label>
							<div class="col-md-offset-1 col-md-4 checkbox">
								<input id="systemNamespaceDelete" type="checkbox" name="systemNamespaceDelete" {{ .checkedTagSystemNamespaceDelete }}>
							</div>
						</div>
					</div>

					<div class="form-group">
						<label class="col-md-4 control-label" for="systemNotification">Notifications:</label>
						<div class="col-md-offset-1 col-md-5 checkbox">
							<input id="systemNotification" type="checkbox" name="systemNotification" onclick="$('#regionSystemNotification').toggle();" {{ .checkedTagSystemNotification }}>
						</div>
					</div>
					<div id="regionSystemNotification" {{ .hiddenTagSystemNotification }}>
						<div class="form-group">
							<label class="col-md-5 control-label" for="systemNotificationEmailServer">Email Servers:</label>
							<div class="col-md-offset-1 col-md-4 checkbox">
								<input id="systemNotificationEmailServer" type="checkbox" name="systemNotificationEmailServer" onclick="$('#regionSystemNotificationEmailServer').toggle();" {{ .checkedTagSystemNotificationEmailServer }}>
							</div>
						</div>
						<div id="regionSystemNotificationEmailServer" {{ .hiddenTagSystemNotificationEmailServer }}>
							<div class="form-group">
								<label class="col-md-6 control-label" for="systemNotificationEmailServerList">View:</label>
								<div class="col-md-offset-1 col-md-3 checkbox">
									<input id="systemNotificationEmailServerList" type="checkbox" name="systemNotificationEmailServerList" {{ .checkedTagSystemNotificationEmailServerList }}>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-6 control-label" for="systemNotificationEmailServerCreate">Create:</label>
								<div class="col-md-offset-1 col-md-3 checkbox">
									<input id="systemNotificationEmailServerCreate" type="checkbox" name="systemNotificationEmailServerCreate" {{ .checkedTagSystemNotificationEmailServerCreate }}>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-6 control-label" for="systemNotificationEmailServerDelete">Delete:</label>
								<div class="col-md-offset-1 col-md-3 checkbox">
									<input id="systemNotificationEmailServerDelete" type="checkbox" name="systemNotificationEmailServerDelete" {{ .checkedTagSystemNotificationEmailServerDelete }}>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label class="col-md-5 control-label" for="systemNotificationSMS">SMS:</label>
							<div class="col-md-offset-1 col-md-4 checkbox">
								<input id="systemNotificationSMS" type="checkbox" name="systemNotificationSMS" onclick="$('#regionSystemNotificationSMS').toggle();" {{ .checkedTagSystemNotificationSMS }}>
							</div>
						</div>
						<div id="regionSystemNotificationSMS" {{ .hiddenTagSystemNotificationnSMS }}>
							<div class="form-group">
								<label class="col-md-6 control-label" for="systemNotificationSMSList">View:</label>
								<div class="col-md-offset-1 col-md-3 checkbox">
									<input id="systemNotificationSMSList" type="checkbox" name="systemNotificationSMSList" {{ .checkedTagSystemNotificationSMSList }}>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-6 control-label" for="systemNotificationSMSCreate">Create:</label>
								<div class="col-md-offset-1 col-md-3 checkbox">
									<input id="systemNotificationSMSCreate" type="checkbox" name="systemNotificationSMSCreate" {{ .checkedTagSystemNotificationSMSCreate }}>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-6 control-label" for="systemNotificationSMSDelete">Delete:</label>
								<div class="col-md-offset-1 col-md-3 checkbox">
									<input id="systemNotificationSMSDelete" type="checkbox" name="systemNotificationSMSDelete" {{ .checkedTagSystemNotificationSMSDelete }}>
								</div>
							</div>
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-md-4 control-label" for="systemHost">Host:</label>
						<div class="col-md-offset-1 col-md-5 checkbox">
							<input id="systemHost" type="checkbox" name="systemHost" onclick="$('#regionSystemHost').toggle();" {{ .checkedTagSystemHost }}>
						</div>
					</div>
					<div id="regionSystemHost" {{ .hiddenTagSystemHost }}>
						<div class="form-group">
							<label class="col-md-5 control-label" for="systemHostCredential">Credential:</label>
							<div class="col-md-offset-1 col-md-4 checkbox">
								<input id="systemHostCredential" type="checkbox" name="systemHostCredential" onclick="$('#regionSystemHostCredential').toggle();" {{ .checkedTagSystemHostCredential }}>
							</div>
						</div>
						<div id="regionSystemHostCredential" {{ .hiddenTagSystemHostCredential }}>
							<div class="form-group">
								<label class="col-md-6 control-label" for="systemHostCredentialList">View:</label>
								<div class="col-md-offset-1 col-md-3 checkbox">
									<input id="systemHostCredentialList" type="checkbox" name="systemHostCredentialList" {{ .checkedTagSystemHostCredentialList }}>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-6 control-label" for="systemHostCredentialCreate">Create/Update:</label>
								<div class="col-md-offset-1 col-md-3 checkbox">
									<input id="systemHostCredentialCreate" type="checkbox" name="systemHostCredentialCreate" {{ .checkedTagSystemHostCredentialCreate }}>
								</div>
							</div>
							<!--
							<div class="form-group">
								<label class="col-md-6 control-label" for="systemHostCredentialUpdate">Update:</label>
								<div class="col-md-offset-1 col-md-3 checkbox">
									<input id="systemHostCredentialUpdate" type="checkbox" name="systemHostCredentialUpdate" >
								</div>
							</div>
							-->
							<div class="form-group">
								<label class="col-md-6 control-label" for="systemHostCredentialDelete">Delete:</label>
								<div class="col-md-offset-1 col-md-3 checkbox">
									<input id="systemHostCredentialDelete" type="checkbox" name="systemHostCredentialDelete" {{ .checkedTagSystemHostCredentialDelete }}>
								</div>
							</div>
						</div>
					</div>

					<div class="form-group">
						<label class="col-md-4 control-label" for="systemRBAC">RBAC:</label>
						<div class="col-md-offset-1 col-md-5 checkbox">
							<input id="systemRBAC" type="checkbox" name="systemRBAC" onclick="$('#regionSystemRBAC').toggle();" {{ .checkedTagSystemRBAC }}>
						</div>
					</div>
					<div id="regionSystemRBAC" {{ .hiddenTagSystemRBAC }}>
						<div class="form-group">
							<label class="col-md-5 control-label" for="systemRBACUser">User:</label>
							<div class="col-md-offset-1 col-md-4 checkbox">
								<input id="systemRBACUser" type="checkbox" name="systemRBACUser" onclick="$('#regionSystemRBACUser').toggle();" {{ .checkedTagSystemRBACUser }}>
							</div>
						</div>
						<div id="regionSystemRBACUser" {{ .hiddenTagSystemRBACUser }}>
							<div class="form-group">
								<label class="col-md-6 control-label" for="systemRBACUserList">View:</label>
								<div class="col-md-offset-1 col-md-3 checkbox">
									<input id="systemRBACUserList" type="checkbox" name="systemRBACUserList" {{ .checkedTagSystemRBACUserList }}>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-6 control-label" for="systemRBACUserCreate">Create/Update:</label>
								<div class="col-md-offset-1 col-md-3 checkbox">
									<input id="systemRBACUserCreate" type="checkbox" name="systemRBACUserCreate" {{ .checkedTagSystemRBACUserCreate }}>
								</div>
							</div>
							<!--
							<div class="form-group">
								<label class="col-md-6 control-label" for="systemRBACUserUpdate">Update:</label>
								<div class="col-md-offset-1 col-md-3 checkbox">
									<input id="systemRBACUserUpdate" type="checkbox" name="systemRBACUserUpdate" >
								</div>
							</div>
							-->
							<div class="form-group">
								<label class="col-md-6 control-label" for="systemRBACUserDelete">Delete:</label>
								<div class="col-md-offset-1 col-md-3 checkbox">
									<input id="systemRBACUserDelete" type="checkbox" name="systemRBACUserDelete" {{ .checkedTagSystemRBACUserDelete }}>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-5 control-label" for="systemRBACRole">Role:</label>
							<div class="col-md-offset-1 col-md-4 checkbox">
								<input id="systemRBACRole" type="checkbox" name="systemRBACRole" onclick="$('#regionSystemRBACRole').toggle();" {{ .checkedTagSystemRBACRole }}>
							</div>
						</div>
						<div id="regionSystemRBACRole" {{ .hiddenTagSystemRBACRole }}>
							<div class="form-group">
								<label class="col-md-6 control-label" for="systemRBACRoleList">View:</label>
								<div class="col-md-offset-1 col-md-3 checkbox">
									<input id="systemRBACRoleList" type="checkbox" name="systemRBACRoleList" {{ .checkedTagSystemRBACRoleList }}>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-6 control-label" for="systemRBACRoleCreate">Create/Update:</label>
								<div class="col-md-offset-1 col-md-3 checkbox">
									<input id="systemRBACRoleCreate" type="checkbox" name="systemRBACRoleCreate" {{ .checkedTagSystemRBACRoleCreate }}>
								</div>
							</div>
							<!--
							<div class="form-group">
								<label class="col-md-6 control-label" for="systemRBACRoleUpdate">Update:</label>
								<div class="col-md-offset-1 col-md-3 checkbox">
									<input id="systemRBACRoleUpdate" type="checkbox" name="systemRBACRoleUpdate" >
								</div>
							</div>
							-->
							<div class="form-group">
								<label class="col-md-6 control-label" for="systemRBACRoleDelete">Delete:</label>
								<div class="col-md-offset-1 col-md-3 checkbox">
									<input id="systemRBACRoleDelete" type="checkbox" name="systemRBACRoleDelete" {{ .checkedTagSystemRBACRoleDelete }}>
								</div>
							</div>
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-md-4 control-label" for="systemUpgrade">Upgrade:</label>
						<div class="col-md-offset-1 col-md-5 checkbox">
							<input id="systemUpgrade" type="checkbox" name="systemUpgrade" {{ .checkedTagSystemUpgrade }}>
						</div>
					</div>
				</div>

				<a class="btn btn-md btn-warning pull-right" onclick="$('#idWaitingPanel').modal({backdrop: 'static'});" href="/gui/system/rbac/role/list">Cancel</a>
				<input class="btn btn-md btn-success pull-right" type="submit" value="{{.actionButtonValue}}">
			</form>
		</div>
	</div>
{{ end }}

{{ define "js" }}
{{ end}}