{{ template "layout.html" . }}

{{ define "css" }}
{{ end}}

{{ define "content" }}
	<div class="page-header">
		<h1>Event List</h1>
	</div>
	<div class="row">
		<div class="col-md-12">
			
			<ul class="nav nav-tabs">
				<li role="presentation" class="{{ .unacknowledgeActive }}"><a href="/gui/event/kubernetes/list?acknowledge=false">Unacknowledged</a></li>
				<li role="presentation" class="{{ .acknowledgeActive }}"><a href="/gui/event/kubernetes/list?acknowledge=true">Acknowledged</a></li>
			</ul>

			<table class="table table-condensed tree">
			<thead>
				<tr>
					<!--
					<th>#</th>
					-->
					<th>Namespace</th>
					<th>Name</th>
					<th>Kind</th>
					<th>Source</th>
					<th>First Timestamp (UTC)</th>
					<th>LastT imestamp (UTC)</th>
					<th>Count</th>
					<th>Message</th>
					<th>Reason</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				{{range $kubernetesEventKey, $kubernetesEvent := .kubernetesEventSlice}}
					<tr>
						<!--
						<td>{{$kubernetesEventKey}}</td>
						-->
						<td>{{$kubernetesEvent.Namespace}}</td>
						<td>{{$kubernetesEvent.Name}}</td>
						<td>{{$kubernetesEvent.Kind}}</td>
						<td>
							{{range $sourceKey, $sourceValue := $kubernetesEvent.Source}}
								{{$sourceKey}}: {{$sourceValue}}<br/>
							{{end}}
						</td>
						<td>{{$kubernetesEvent.FirstTimestamp}}</td>
						<td>{{$kubernetesEvent.LastTimestamp}}</td>
						<td>{{$kubernetesEvent.Count}}</td>
						<td>{{$kubernetesEvent.Message}}</td>
						<td>{{$kubernetesEvent.Reason}}</td>
						<td>
							<div class="btn-group ">
								{{ str2html $kubernetesEvent.HiddenTagGuiEventKubernetesAcknowledge }}
									<a class="btn btn-xs btn-info" onclick="$('#idWaitingPanel').modal({backdrop: 'static'});" href="/gui/event/kubernetes/acknowledge?namespace={{$kubernetesEvent.Namespace}}&id={{$kubernetesEvent.Id}}&acknowledge={{ .Action }}"> {{ .Button }}</a>
								</div>
							</div>
						</td>
					</tr>
				{{end}}
			</tbody>
			</table>
		</div>
		
		<nav>
			<ul class="pagination">
				<li>
					<a href="{{ .paginationUrlPrevious }}" aria-label="Previous" onclick="$('#idWaitingPanel').modal({backdrop: 'static'});" {{ .previousButtonHidden }}>
						<span aria-hidden="true">&laquo;{{ .previousLabel }}</span>
					</a>
				</li>
				<li>
					<a href="{{ .paginationUrlNext }}" aria-label="Next" onclick="$('#idWaitingPanel').modal({backdrop: 'static'});">
						<span aria-hidden="true">{{ .nextLabel }}&raquo;</span>
					</a>
				</li>
			</ul>
		</nav>
	</div>
{{ end }}

{{ define "js" }}
{{ end}}