body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

/* Since .tooltip is already used by bootstrap, the name is changed*/
.tooltip-for-chartist {
  position: absolute;
  display: inline-block;
  min-width: 5em;
  padding: .5em;
  background: #F4C63D;
  color: #453D3F;
  font-weight: 700;
  text-align: center;
  pointer-events: none;
  z-index: 1;
  opacity: 90;
}