{{ template "layout.html" . }}

{{ define "css" }}
	<link rel="stylesheet" href="/static/css/chart/chart.css">	
{{ end}}

{{ define "content" }}
	<div class="page-header">
		<h1>Container Metric</h1>
	</div>	

	<div class="row">
		<div class="col-md-2 pull-right">
			<select id="replicationControllerName" class="form-control" onchange="moduleMonitorContainerIndex.parameter.replicationControllerName=$('#replicationControllerName').val();">
			{{ range $replicationControllerNameKey, $replicationControllerName := .replicationControllerNameSlice}}
				<option value="{{$replicationControllerName}}">{{$replicationControllerName}}</option>
			{{ end }}
			</select>
		</div>
		<label class="col-md-0 pull-right" for="namespace">Replication Controller:</label>
	</div>
	
	<br/>
	
	<!-- Nav tabs -->
	<ul class="nav nav-tabs" role="tablist">
		<li role="presentation" class="active"><a href="#cpuUsageTotal" aria-controls="cpuUsageTotal" role="tab" data-toggle="tab">CPU</a></li>
		<li role="presentation"><a href="#memoryUsage" aria-controls="memoryUsage" role="tab" data-toggle="tab">Memory</a></li>
		<li role="presentation"><a href="#diskIOServiceBytesStats" aria-controls="diskIOServiceBytesStats" role="tab" data-toggle="tab">Disk I/O (Bytes)</a></li>
		<li role="presentation"><a href="#diskIOServicedStats" aria-controls="diskIOServicedStats" role="tab" data-toggle="tab">Disk I/O (Counts)</a></li>
		<!--
		<li role="presentation"><a href="#networkRXBytes" aria-controls="networkRXBytes" role="tab" data-toggle="tab">Network RX (Bytes)</a></li>
		<li role="presentation"><a href="#networkTXBytes" aria-controls="networkTXBytes" role="tab" data-toggle="tab">Network TX (Bytes)</a></li>
		<li role="presentation"><a href="#networkRXPackets" aria-controls="networkRXPackets" role="tab" data-toggle="tab">Network RX (Packets)</a></li>
		<li role="presentation"><a href="#networkTXPackets" aria-controls="networkTXPackets" role="tab" data-toggle="tab">Network TX (Packets)</a></li>
		-->
	</ul>

	<!-- Tab panes -->
	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="cpuUsageTotal">
			<div id="idChartCpuUsageTotal" class=""></div>
		</div>
		<div role="tabpanel" class="tab-pane" id="memoryUsage">
			<div id="idChartMemoryUsage" class=""></div>
		</div>
		<div role="tabpanel" class="tab-pane" id="diskIOServiceBytesStats">
			<div id="idChartDiskIOServiceBytesStats" class=""></div>
		</div>
		<div role="tabpanel" class="tab-pane" id="diskIOServicedStats">
			<div id="idChartDiskIOServicedStats" class=""></div>
		</div>
		<!--
		<div role="tabpanel" class="tab-pane" id="networkRXBytes">
			<div id="idChartNetworkRXBytes" class=""></div>
		</div>
		<div role="tabpanel" class="tab-pane" id="networkTXBytes">
			<div id="idChartNetworkTXBytes" class=""></div>
		</div>
		<div role="tabpanel" class="tab-pane" id="networkRXPackets">
			<div id="idChartNetworkRXPackets" class=""></div>
		</div>
		<div role="tabpanel" class="tab-pane" id="networkTXPackets">
			<div id="idChartNetworkTXPackets" class=""></div>
		</div>
		-->
	</div>
	
{{ end }}

{{ define "js" }}
	<script type="text/javascript" src="/static/js/chart/chart.js"></script>
	
	<script type="text/javascript">

	var moduleMonitorContainerIndex = (function(){
		
		var parameter = {
			replicationControllerName: "",
			intervalInMilliSecond: 1000,
		}
		
		var query = function(parameter) {
			$.ajax({
				url: "{{.cloudoneGUIProtocol}}://{{.cloudoneGUIHost}}:{{.cloudoneGUIPort}}/gui/monitor/container/data?replicationController=" + parameter.replicationControllerName,
				type:"GET",
				dataType:'json',
				success: function(returnedData){

					moduleTimeSeriesChart.draw(
						"#idChartCpuUsageTotal",
						returnedData.cpuUsageTotal.metadata,
						returnedData.cpuUsageTotal.data);
					moduleTimeSeriesChart.draw(
						"#idChartMemoryUsage",
						returnedData.memoryUsage.metadata,
						returnedData.memoryUsage.data);
					moduleTimeSeriesChart.draw(
						"#idChartDiskIOServiceBytesStats",
						returnedData.diskIOServiceBytesStats.metadata,
						returnedData.diskIOServiceBytesStats.data);
					moduleTimeSeriesChart.draw(
						"#idChartDiskIOServicedStats",
						returnedData.diskIOServicedStats.metadata,
						returnedData.diskIOServicedStats.data);
					/*
					moduleTimeSeriesChart.draw(
						"#idChartNetworkRXBytes",
						returnedData.networkRXBytes.metadata,
						returnedData.networkRXBytes.data);
					moduleTimeSeriesChart.draw(
						"#idChartNetworkTXBytes",
						returnedData.networkTXBytes.metadata,
						returnedData.networkTXBytes.data);
					moduleTimeSeriesChart.draw(
						"#idChartNetworkRXPackets",
						returnedData.networkRXPackets.metadata,
						returnedData.networkRXPackets.data);
					moduleTimeSeriesChart.draw(
						"#idChartNetworkTXPackets",
						returnedData.networkTXPackets.metadata,
						returnedData.networkTXPackets.data);
					*/
				},
				error:function(xhr, ajaxOptions, thrownError){ 
					clearInterval(parameter.timer);
					//alert(xhr.status); 
					//alert(ajaxOptions); 
					//alert(thrownError); 
				}
			});
		};
		parameter.query = query;

		var timer = setInterval(parameter.query, parameter.intervalInMilliSecond, parameter);
		parameter.timer = timer;	

		query(parameter);
		
		return {
			parameter: parameter,
		};
	})();
	
	

	</script>
{{ end}}