{{ template "layout.html" . }}

{{ define "css" }}
{{ end}}

{{ define "content" }}
	<div class="page-header">
		<h1>Create Image</h1>
	</div>
	<div class="row">
		<div class="col-md-9">	
			<form class="form-horizontal" onsubmit="$('#idWaitingPanel').modal({backdrop: 'static'});" action="/gui/repository/imageinformation/create" method="post">

				<div class="form-group">
					<label class="col-md-3 control-label" for="name">Name:</label>
					<div class="col-md-9">
						<input id="name" class="form-control" type="text" name="name" pattern="[a-z]{1}[a-z0-9-]{1,23}" title="The name need to be a DNS 952 label [a-z]{1}[a-z0-9-]{1,23}" oninput="$('#repositoryPath').val($('#privateRegistry').val() + '/' + this.value);" required>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-3 control-label" for="kind">Type:</label>
					<div class="col-md-9">
						<select id="kind" class="form-control" name="kind" onchange="moduleImageInformationCreate.switchInput(this.value);">
							<option value="git">Git</option>
							<option value="scp">SCP</option>
							<option value="sftp">SFTP</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-3 control-label" for="description">Description:</label>
					<div class="col-md-9">
						<input id="description" class="form-control" type="text" name="description">
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-md-3 control-label" for="privateRegistry">Private Registry:</label>
					<div class="col-md-9">
						<select id="privateRegistry" class="form-control" name="privateRegistry" onchange="$('#repositoryPath').val(this.value + '/' + $('#name').val());">
							{{range $privateRegistryKey, $privateRegistry := .privateRegistrySlice}}
								<option value="{{$privateRegistry.Host}}:{{$privateRegistry.Port}}">{{$privateRegistry.Name}}</option>
							{{end}}
						</select>
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-md-3 control-label" for="repositoryPath">Repository Path:</label>
					<div class="col-md-9">
						<input id="repositoryPath" class="form-control" type="text" name="repositoryPath" required readonly>
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-md-3 control-label" for="sourceCodeProject">Source Code Project:</label>
					<div class="col-md-9">
						<input id="sourceCodeProject" class="form-control" type="text" name="sourceCodeProject" required>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-3 control-label" for="sourceCodeDirectory">Source Code Directory:</label>
					<div class="col-md-9">
						<input id="sourceCodeDirectory" class="form-control" type="text" name="sourceCodeDirectory" required>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-3 control-label" for="sourceCodeMakeScript">Source Code Make Script:</label>
					<div class="col-md-9">
						<input id="sourceCodeMakeScript" class="form-control" type="text" name="sourceCodeMakeScript">
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-3 control-label" for="versionFile">Version File:</label>
					<div class="col-md-9">
						<input id="versionFile" class="form-control" type="text" name="versionFile">
					</div>
				</div>
				<div class="form-group">
						<label class="col-md-3 control-label" for="environmentFile">Environment File:</label>
						<div class="col-md-9">
							<input id="environmentFile" class="form-control" type="text" name="environmentFile">
						</div>
					</div>
				
				<div id="git_specific">
					<div class="form-group">
						<label class="col-md-3 control-label" for="sourceCodeURL">Source Code URL:</label>
						<div class="col-md-9">
							<input id="sourceCodeURL" class="form-control" type="text" name="sourceCodeURL" required>
						</div>
					</div>
				</div>
					
				<div id="file_specific">
					<div class="form-group">
						<label class="col-md-3 control-label" for="hostAndPort">Host And Port:</label>
						<div class="col-md-9">
							<input id="hostAndPort" class="form-control" type="text" name="hostAndPort">
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-3 control-label" for="username">Username:</label>
						<div class="col-md-9">
							<input id="username" class="form-control" type="text" name="username">
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-3 control-label" for="password">Password:</label>
						<div class="col-md-9">
							<input id="password" class="form-control" type="password" name="password">
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-3 control-label" for="passwordConfirm">Password Confirm:</label>
						<div class="col-md-9">
							<input id="passwordConfirm" class="form-control" type="password" name="passwordConfirm">
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-3 control-label" for="sourcePath">Source Path:</label>
						<div class="col-md-9">
							<input id="sourcePath" class="form-control" type="text" name="sourcePath">
						</div>
					</div>
				</div>
				
				<div id="scp_specific">
					<div class="form-group">
						<label class="col-md-3 control-label" for="compressFileName">Compress File Name:</label>
						<div class="col-md-9">
							<input id="compressFileName" class="form-control" type="text" name="compressFileName">
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-3 control-label" for="unpackageCommand">Unpackage Command:</label>
						<div class="col-md-9">
							<input id="unpackageCommand" class="form-control" type="text" name="unpackageCommand">
						</div>
					</div>
				</div>		

				<a class="btn btn-md btn-warning pull-right" onclick="$('#idWaitingPanel').modal({backdrop: 'static'});" href="/gui/repository/imageinformation/list">Cancel</a>
				<input class="btn btn-md btn-success pull-right" type="submit" value="Create">
			</form>
		</div>
	</div>
{{ end }}

{{ define "js" }}
	<script type="text/javascript"> 

	    var moduleImageInformationCreate = (function(){

			function validatePassword(e){
				if($("#password").val() != $("#passwordConfirm").val()) {
					document.getElementById("passwordConfirm").setCustomValidity("Passwords Don't Match");
				} else {
					document.getElementById("passwordConfirm").setCustomValidity("");
				}
			}

			$("#password").change(validatePassword);
			$("#passwordConfirm").change(validatePassword);

			var switchInput = function(kind) {
				$("#password").val("")
				$("#passwordConfirm").val("")

				switch(kind) {
					case "git":
						$("#sourceCodeURL").prop("required", true);
						$("#hostAndPort").prop("required", false);
						$("#username").prop("required", false);
						$("#password").prop("required", false);
						$("#passwordConfirm").prop("required", false);
						$("#sourcePath").prop("required", false);
						$("#compressFileName").prop("required", false);
						$("#unpackageCommand").prop("required", false);

						$("#git_specific").show();
						$("#file_specific").hide();
						$("#scp_specific").hide();
						break;
					case "scp":
						$("#sourceCodeURL").prop("required", false);
						$("#hostAndPort").prop("required", true);
						$("#username").prop("required", true);
						$("#password").prop("required", true);
						$("#passwordConfirm").prop("required", true);
						$("#sourcePath").prop("required", true);
						$("#compressFileName").prop("required", true);
						$("#unpackageCommand").prop("required", true);

						$("#git_specific").hide();
						$("#file_specific").show();
						$("#scp_specific").show();
						break;
					case "sftp":
						$("#sourceCodeURL").prop("required", false);
						$("#hostAndPort").prop("required", true);
						$("#username").prop("required", true);
						$("#password").prop("required", true);
						$("#passwordConfirm").prop("required", true);
						$("#sourcePath").prop("required", true);
						$("#compressFileName").prop("required", false);
						$("#unpackageCommand").prop("required", false);

						$("#git_specific").hide();
						$("#file_specific").show();
						$("#scp_specific").hide();
						break;
					default:
						// default git
						$("#sourceCodeURL").prop("required", true);
						$("#hostAndPort").prop("required", false);
						$("#username").prop("required", false);
						$("#password").prop("required", false);
						$("#passwordConfirm").prop("required", false);
						$("#sourcePath").prop("required", false);
						$("#compressFileName").prop("required", false);
						$("#unpackageCommand").prop("required", false);

						$("#git_specific").show();
						$("#file_specific").hide();
						$("#scp_specific").hide();
				}
			};
			
			switchInput("git");
			
			return {
				switchInput: switchInput
			};
		})();
		

    </script>
{{ end}}