{{ template "layout.html" . }}

{{ define "css" }}
	<link rel="stylesheet" href="/static/css/jquery.treegrid.css">
{{ end}}

{{ define "content" }}
	<div class="page-header">
		<h1>Replication Controller List</h1>
	</div>
	<div class="row">
		<div class="col-md-12">
			
			<div class="">
				<a class="btn btn-md btn-success pull-right" onclick="$('#idWaitingPanel').modal({backdrop: 'static'});" href="/gui/inventory/replicationcontroller/edit">Create</a>
			</div>

			<table class="table table-condensed tree">
			<thead>
				<tr>
					<th>#</th>
					<th>ReplicationControllerName</th>
					<th>Selector</th>
					<th>Size (Active/All)</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				{{range $replicationControllerAndRelatedPodKey, $replicationControllerAndRelatedPod := .replicationControllerAndRelatedPodSlice}}
					<tr class="treegrid-{{$replicationControllerAndRelatedPodKey}}">
						<td>{{$replicationControllerAndRelatedPodKey}}</td>
						<td>{{$replicationControllerAndRelatedPod.Name}}</td>
						<td>
							{{range $selectorKey, $selectorValue := $replicationControllerAndRelatedPod.Selector}}
								{{$selectorKey}}: {{$selectorValue}}<br/>
							{{end}}
						</td>
						<td>{{$replicationControllerAndRelatedPod.AliveReplicaAmount}}/{{$replicationControllerAndRelatedPod.ReplicaAmount}}</td>
						<td>
							<a class="btn btn-xs btn-info" onclick="$('#idWaitingPanel').modal({backdrop: 'static'});" href="/gui/inventory/replicationcontroller/size?name={{$replicationControllerAndRelatedPod.Name}}&size={{$replicationControllerAndRelatedPod.ReplicaAmount}}" >Resize</a>
							<a class="btn btn-xs btn-danger" onclick="$('#idWaitingPanel').modal({backdrop: 'static'});" href="/gui/inventory/replicationcontroller/delete?namespace={{$replicationControllerAndRelatedPod.Namespace}}&replicationcontroller={{$replicationControllerAndRelatedPod.Name}}" {{$replicationControllerAndRelatedPod.Display}} >Delete</a>
						</td>
					</tr>
				
					<thead>
						<tr class="treegrid-parent-{{$replicationControllerAndRelatedPodKey}}">
							<th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;#</th>
							<th>Name</th>
							<th>HostIP</th>
							<th>PodIP</th>
							<th>Action</th>
						</tr>
					</thead>
					
					{{range $podKey, $pod := $replicationControllerAndRelatedPod.PodSlice}}
						<tr class="treegrid-{{$replicationControllerAndRelatedPodKey}}-{{$podKey}} treegrid-parent-{{$replicationControllerAndRelatedPodKey}}">
							<td>{{$podKey}}</td>
							<td>{{$pod.Name}}</td>
							<td>{{$pod.HostIP}}</td>
							<td>{{$pod.PodIP}}</td>
							<td>
								<a class="btn btn-xs btn-primary" onclick="$('#idWaitingPanel').modal({backdrop: 'static'});" href="/gui/inventory/replicationcontroller/podlog?namespace={{$pod.Namespace}}&pod={{$pod.Name}}">Log</a>
							</td>
						</tr>
						
						<thead>
							<tr class="treegrid-parent-{{$replicationControllerAndRelatedPodKey}}-{{$podKey}}">
								<th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;#</th>
								<th>Name</th>
								<th>Image</th>
								<th></th>
								<th></th>
							</tr>
						</thead>
						
						{{range $containerKey, $container := $pod.ContainerSlice}}
							<tr class="treegrid-{{$replicationControllerAndRelatedPodKey}}-{{$podKey}}-{{$containerKey}} treegrid-parent-{{$replicationControllerAndRelatedPodKey}}-{{$podKey}}">
								<td>{{$containerKey}}</td>
								<td>{{$container.Name}}</td>
								<td>{{$container.Image}}</td>
								<td></td>
								<td></td>
							</tr>
							
							<thead>
								<tr class="treegrid-parent-{{$replicationControllerAndRelatedPodKey}}-{{$podKey}}-{{$containerKey}}">
									<th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;#</th>
									<th>Name</th>
									<th>Protocol</th>
									<th>ContainerPort</th>
									<th></th>
								</tr>
							</thead>
							
							{{range $portKey, $port := $container.PortSlice}}
								<tr class="treegrid-parent-{{$replicationControllerAndRelatedPodKey}}-{{$podKey}}-{{$containerKey}}">
									<td>{{$portKey}}</td>
									<td>{{$port.Name}}</td>
									<td>{{$port.Protocol}}</td>
									<td>{{$port.ContainerPort}}</td>
									<td></td>
								</tr>
							{{end}}
						
						{{end}}
						
					{{end}}

				{{end}}
			</tbody>
			</table>
		</div>
	</div>
{{ end }}

{{ define "js" }}
	<script type="text/javascript" src="/static/js/jquery.treegrid.min.js"></script>
	<script type="text/javascript">
		$('.tree').treegrid({'initialState': 'collapsed'});
	</script>
{{ end}}