{{ template "layout.html" . }}

{{ define "css" }}
{{ end}}

{{ define "content" }}
	<div class="page-header">
		<h1>Pod Log</h1>
	</div>
	<div class="row">
		<div class="col-md-9">	
			<form class="form-horizontal">		
				<div class="form-group">

					{{range $logKey, $log := .logJsonMap}}
						<label class="col-md-2">{{$logKey}}:</label>
						<textarea class="col-md-10" readonly rows="30" >
							{{ $log }}
						</textarea>
					{{end}}
					
				</div>

				<a class="btn btn-md btn-warning pull-right" 
					onclick="$('#idWaitingPanel').modal({backdrop: 'static'});" 
					href="/gui/inventory/replicationcontroller/">Cancel</a>
			</form>
		</div>
	</div>
{{ end }}

{{ define "js" }}
{{ end}}