{{ template "layout.html" . }}

{{ define "css" }}
{{ end}}

{{ define "content" }}
	<div class="page-header">
		<h1>{{ .pageHeader }}</h1>
	</div>
	<div class="row">
		<div class="col-md-9">	
			<form class="form-horizontal" onsubmit="$('#idWaitingPanel').modal({backdrop: 'static'});" action="/gui/system/rbac/user/edit?action={{ .action }}" method="post">
				<input id="action" class="form-control" type="hidden" name="action" value="{{ .action }}">

				<div class="form-group">
					<label class="col-md-3 control-label" for="name">Name:</label>
					<div class="col-md-9">
						<input id="name" class="form-control" type="text" name="name" value="{{ .name }}" pattern=".{4,30}" title="4 to 30 characters" required {{ .readonly }}>
					</div>
				</div>

				<div class="form-group">
					<label class="col-md-3 control-label" for="password">Password:</label>
					<div class="col-md-9">
						<input id="password" class="form-control" type="password" name="password" pattern=".{6,30}" title="6 to 30 characters" required>
					</div>
				</div>

				<div class="form-group">
					<label class="col-md-3 control-label" for="passwordConfirm">Password Confirm:</label>
					<div class="col-md-9">
						<input id="passwordConfirm" class="form-control" type="password" name="passwordConfirm" pattern=".{6,30}" title="6 to 30 characters" required>
					</div>
				</div>

				<div class="form-group">
					<label class="col-md-3 control-label" for="disabled">Disabled:</label>
					<div class="col-md-offset-1 col-md-6 checkbox">
						<input id="disabled" type="checkbox" name="disabled" {{ .disabledChecked }}>
					</div>
				</div>

				<div class="form-group">
					<label class="col-md-3 control-label" for="expiredTime">Expired Time:</label>
					<div class="col-lg-4">
						<div id="datetimepickerExpiredTime" class="input-group date">
							<input type="text" class="form-control" id="expiredTime" name="expiredTime" value="{{ .expiredTime }}"/>
							<span class="input-group-addon">
								<span class="glyphicon glyphicon-calendar"></span>
							</span>
						</div>
					</div>
				</div>

				<div class="form-group">
					<label class="col-md-3 control-label" for="description">Description:</label>
					<div class="col-md-9">
						<input id="description" class="form-control" type="text" name="description" value="{{ .description }}">
					</div>
				</div>

				<hr>
								
				<div class="form-group">
					<label class="col-md-3 control-label" >Role List:</label>
				</div>
				
				{{ range $roleKey, $role := .roleSlice}}
				<div class="form-group">
					<label class="col-md-3 control-label" for="role_{{ $role.Name }}">{{ $role.Name }}:</label>
					<div class="col-md-offset-1 col-md-6 checkbox">
						<input id="role_{{ $role.Name }}" type="checkbox" name="role_{{ $role.Name }}" {{ $role.Tag }}>
					</div>
				</div>
				{{end}}

				<hr>

				<div class="form-group">
					<label class="col-md-3 control-label" for="loginNamespace">Login Namespace:</label>
					<div class="col-md-9">
						<select id="loginNamespace" class="form-control" name="loginNamespace" required>
							{{ range $loginNamespaceKey, $loginNamespace := .loginNamespaceSlice}}
								<option value="{{ $loginNamespace.Name }}" {{ $loginNamespace.Tag }}>{{ $loginNamespace.Name }}</option>
							{{end}}
						</select>
					</div>
				</div>

				<div class="form-group">
					<label class="col-md-3 control-label" >Namespace List:</label>
				</div>

				{{ range $namespaceKey, $namespace := .namespaceSlice}}
				<div class="form-group">
					<label class="col-md-3 control-label" for="namespace_{{ $namespace.Name }}">{{ $namespace.Name }}:</label>
					<div class="col-md-offset-1 col-md-6 checkbox">
						<input id="namespace_{{ $namespace.Name }}" type="checkbox" name="namespace_{{ $namespace.Name }}" {{ $namespace.Tag }}>
					</div>
				</div>
				{{end}}

				<a class="btn btn-md btn-warning pull-right" onclick="$('#idWaitingPanel').modal({backdrop: 'static'});" href="/gui/system/rbac/user/list">Cancel</a>
				<input class="btn btn-md btn-success pull-right" type="submit" value="{{.actionButtonValue}}">
			</form>
		</div>
	</div>
{{ end }}

{{ define "js" }}

	<script type="text/javascript">

	var moduleSystemRBACUserEdit = (function(){

		function validatePassword(e){
			if($("#password").val() != $("#passwordConfirm").val()) {
				document.getElementById("passwordConfirm").setCustomValidity("Passwords Don't Match");
			} else {
				document.getElementById("passwordConfirm").setCustomValidity("");
			}
		}

		$("#password").change(validatePassword);
		$("#passwordConfirm").change(validatePassword);

		// Set time picker
		$("#datetimepickerExpiredTime").datetimepicker();

	})();

	</script>

{{ end}}