{{ template "layout.html" . }}

{{ define "css" }}
{{ end}}

{{ define "content" }}
	<div class="page-header">
		<h1>{{ .pageHeader }}</h1>
	</div>
	<div class="row">
		<div class="col-md-9">	
			<form class="form-horizontal" onsubmit="$('#idWaitingPanel').modal({backdrop: 'static'});" action="/gui/system/rbac/user/edit?action={{ .action }}" method="post">
				<input id="action" class="form-control" type="hidden" name="action" value="{{ .action }}">

				<div class="form-group">
					<label class="col-md-3 control-label" for="name">Name:</label>
					<div class="col-md-9">
						<input id="name" class="form-control" type="text" name="name" value="{{ .name }}" required>
					</div>
				</div>

				<div class="form-group">
					<label class="col-md-3 control-label" for="password">Password:</label>
					<div class="col-md-9">
						<input id="password" class="form-control" type="text" name="password" required>
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-md-3 control-label" for="description">Description:</label>
					<div class="col-md-9">
						<input id="description" class="form-control" type="text" name="description" value="{{ .description }}">
					</div>
				</div>

				<hr>
								
				<div class="form-group">
					<label class="col-md-3 control-label" >Role List:</label>
				</div>
				
				{{ range $roleKey, $role := .roleSlice}}
				<div class="form-group">
					<label class="col-md-3 control-label" for="role_{{ $role.Name }}">{{ $role.Name }}:</label>
					<div class="col-md-offset-1 col-md-6 checkbox">
						<input id="role_{{ $role.Name }}" type="checkbox" name="role_{{ $role.Name }}" {{ $role.TagChecked }}>
					</div>
				</div>
				{{end}}

				<hr>

				<div class="form-group">
					<label class="col-md-3 control-label" >Namespace List:</label>
				</div>

				{{ range $namespaceKey, $namespace := .namespaceSlice}}
				<div class="form-group">
					<label class="col-md-3 control-label" for="namespace_{{ $namespace.Name }}">{{ $namespace.Name }}:</label>
					<div class="col-md-offset-1 col-md-6 checkbox">
						<input id="namespace_{{ $namespace.Name }}" type="checkbox" name="namespace_{{ $namespace.Name }}" {{ $namespace.TagChecked }}>
					</div>
				</div>
				{{end}}

				<a class="btn btn-md btn-warning pull-right" onclick="$('#idWaitingPanel').modal({backdrop: 'static'});" href="/gui/system/rbac/user/list">Cancel</a>
				<input class="btn btn-md btn-success pull-right" type="submit" value="{{.actionButtonValue}}">
			</form>
		</div>
	</div>
{{ end }}

{{ define "js" }}
{{ end}}