{{ template "layout.html" . }}

{{ define "css" }}
{{ end}}

{{ define "content" }}
	<div class="page-header">
		<h1>Create SMS</h1>
	</div>
	<div class="row">
		<div class="col-md-9">
			<form class="form-horizontal" onsubmit="$('#idWaitingPanel').modal({backdrop: 'static'});" action="/gui/system/notification/sms/create" method="post">
				<div class="form-group">
					<label class="col-md-3 control-label" for="name">Name:</label>
					<div class="col-md-9">
						<input id="name" class="form-control" type="text" name="name" required>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-3 control-label" for="url">URL:</label>
					<div class="col-md-9">
						<input id="url" class="form-control" type="text" name="url" required>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-3 control-label" for="apiKey">APIKey:</label>
					<div class="col-md-9">
						<input id="apiKey" class="form-control" type="text" name="apiKey" required>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-3 control-label" for="apiSecret">APISecret:</label>
					<div class="col-md-9">
						<input id="apiSecret" class="form-control" type="text" name="apiSecret" required>
					</div>
				</div>

				<a class="btn btn-md btn-warning pull-right" onclick="$('#idWaitingPanel').modal({backdrop: 'static'});" href="/gui/system/notification/sms/list">Cancel</a>
				<input class="btn btn-md btn-info pull-right" type="submit" value="Create">
			</form>
		</div>
	</div>
{{ end }}

{{ define "js" }}
{{ end}}