{{ template "layout.html" . }}

{{ define "css" }}
{{ end}}

{{ define "content" }}
	<div class="page-header">
		<h1>SMS List</h1>
	</div>

	<ul class="nav nav-tabs" role="tablist">
		<li role="presentation"><a href="/gui/system/notification/emailserver/" role="tab" >Email Server</a></li>
		<li role="presentation" class="active"><a href="#" role="tab" >SMS</a></li>
	</ul>

	<div class="row">
		<div class="col-md-12">
			
			<div class="">
				<a class="btn btn-md btn-success pull-right" onclick="$('#idWaitingPanel').modal({backdrop: 'static'});" href="/gui/system/notification/sms/create">Create</a>
			</div>
			
			<table class="table table-condensed tree">
			<thead>
				<tr>
					<th>#</th>
					<th>Name</th>
					<th>Url</th>
					<th>APIKey</th>
					<th>APISecret</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				{{range $smsNexmoKey, $smsNexmo := .smsNexmoSlice}}
					<tr>
						<td>{{$smsNexmoKey}}</td>
						<td>{{$smsNexmo.Name}}</td>
						<td>{{$smsNexmo.Url}}</td>
						<td>{{$smsNexmo.APIKey}}</td>
						<td>******</td>
						<td>
							<button class="btn btn-xs btn-danger" type="button" data-toggle="modal" data-target="#linkModal" data-action="Delete {{$smsNexmo.Name}}" data-color="btn-danger" data-herf="/gui/system/notification/sms/delete?name={{$smsNexmo.Name}}">Delete</button>
						</td>
					</tr>
				{{end}}
			</tbody>
			</table>
		</div>
	</div>
{{ end }}

{{ define "js" }}
{{ end}}